<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>司机审核</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<script src="../plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<!--	<script src="../js/base.js"></script>-->
	<script src="../js/base_pagination.js"></script>
	<script src="../js/service/adminService.js"></script>
	<script src="../js/service/carService.js"></script>
	<script src="../js/controller/baseController.js"></script>
	<script src="../js/controller/carController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="bos" ng-controller="carController" ng-init="reloadList();getAdminUser()">
  <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">司机审核</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
<!--                            -->
<!--                            <div class="box-tools pull-right">-->
<!--                                <div class="has-feedback">-->
<!--							        司机姓名：<input  >-->
<!--									车牌号： <input  >									-->
<!--									<button class="btn btn-default" >查询</button>                                    -->
<!--                                </div>-->
<!--                            </div>-->
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
<!--			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">-->
											  选择
			                              </th> 
										  <th class="sorting_asc">司机ID</th>
										  <th class="sorting">用户名</th>
									      <th class="sorting">姓名</th>
									      <th class="sorting">联系方式</th>
									      <th class="sorting">驾驶证有效期</th>
									      <th class="sorting">车牌号</th>
										  <th class="sorting">车辆状态</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="newCar in list">
			                              <td><input  type="checkbox"></td>			                              
				                          <td>{{newCar.carUser.id}}</td>
									      <td>{{newCar.carUser.username}}</td>
									      <td>{{newCar.carUser.realname}}</td>
									      <td>{{newCar.carUser.phone}}</td>
									      <td>{{newCar.carUser.validPeriod}}</td>
		                                  <td>{{newCar.car.cno}}</td>
										  <td>{{newCar.car.cenable == '1' ? '已启用':'未启用'}}</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#sellerModal" ng-click="see(newCar);">详情</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							<!-- 分页 -->
							<tm-pagination conf="paginationConf"></tm-pagination>
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
                    
				</div>
					    
                                
<!-- 商家详情 -->
<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">司机详情</h3>
		</div>
		<div class="modal-body">							
			
			 <ul class="nav nav-tabs">
			  <li class="active"><a href="#home" data-toggle="tab">基本信息</a></li>
			  <li><a href="#certificate" data-toggle="tab">证件信息</a></li>
			  <li><a href="#car" data-toggle="tab">车辆信息</a></li>
			</ul>							
			
			<!-- 选项卡开始 -->         
		    <div id="myTabContent" class="tab-content">
			    <div class="tab-pane active in" id="home">
			      <br>
			      <table class="table table-bordered table-striped"  width="800px">
			      	<tr>
			      		<td>用户名</td>
			      		<td>{{carInfo.carUser.username}}</td>
			      	</tr>
			      	<tr>
			      		<td>真实姓名</td>
			      		<td>{{carInfo.carUser.realname}}</td>
			      	</tr>
			      	<tr>
			      		<td>性别</td>
			      		<td>{{carInfo.carUser.sex}}</td>
			      	</tr>
			      	<tr>
			      		<td>联系电话</td>
			      		<td>{{carInfo.carUser.phone}}</td>
			      	</tr>
			      </table>			      
      			</div>	
			    <div class="tab-pane fade" id="certificate">
					<br>
					<table class="table table-bordered table-striped" >
				      	<tr>
				      		<td>准驾车型</td>
				      		<td>{{carInfo.carUser.driverType}}</td>
				      	</tr>
				      	<tr>
				      		<td>驾驶证的有效期限</td>
				      		<td>{{carInfo.carUser.validPeriod}}</td>
				      	</tr>
				      	<tr>
				      		<td>驾驶证的档案编号</td>
				      		<td>{{carInfo.carUser.fileNo}}</td>
				      	</tr>				      	
			     	</table>
			    </div>
			    <div class="tab-pane fade" id="car">
					<br>
					<table class="table table-bordered table-striped" >
				      	<tr>
				      		<td>车牌号</td>
				      		<td>{{carInfo.car.cno}}</td>
				      	</tr>
				      	<tr>
				      		<td>车辆类型</td>
				      		<td>{{carInfo.car.ctype}}</td>
				      	</tr>	
				      	<tr>
				      		<td>使用性质</td>
				      		<td>{{carInfo.car.cuseCharacter}}</td>
				      	</tr>	
			     	</table>
			    </div>
			    
  			    </div> 			
           <!-- 选项卡结束 -->          
			
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="access()">审核通过</button>
<!--         	<button class="btn btn-danger"  data-dismiss="modal" aria-hidden="true">审核未通过</button>-->
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" ng-click="stop()">停用</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>


</body>

</html>